@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>username: @ViewBag.username</p>
<p>items: @ViewBag.items</p>


@model List<Item>
@foreach(var item in Model)
{
    <p>
        <a href="/@item.ProjectId">@item.ProjectId @item.Name</a> : @item.Website @item.Address @item.Position
    </p>
}